{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube</title>
    <link rel="icon" type="images/png" href="../../static/images/youtube-icon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css"
        integrity="sha384-3B6NwesSXE7YJlcLI9RpRqGf2p/EgVH8BgoKTaUrmKNDkHPStTQ3EyoYjCGXaOTS" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

<body>
    <!-- header  menu starts -->
    <div class="header">
        <div class="header_left">
            <i id="menu" class="material-icons">menu</i>
            <img src="https://www.xda-developers.com/files/2017/08/After-12-Years-Google-Gives-YouTube-a-New-Logo-1900x700_c.png">
        </div>
        <div class="header_search">
            <form action="">
                <input type="text" placeholder="Search">
                <button><i class="material-icons">search</i> </button>
            </form>
        </div>
        <div class="header_icons">
            <i class="material-icons display-this">search</i>
            <a href="{% url 'upload' %}"><i class="material-icons display-this">videocam</i></a>
            <i class="material-icons display-this">apps</i>
            <i class="material-icons display-this">notifications</i>
            <i id="drop-down" class="material-icons display-this">account_circle</i>
        </div>
    </div>

    <!-- main body starts -->
    <div class="mainBody">
        <div class="sidebar">
            <div class="sidebar_categories">
                <!-- single category -->
                <div class="sidebar_category">
                    <i class="material-icons">home</i>
                    <span>Home</span>
                </div>

                <div class="sidebar_category">
                    <i class="material-icons">local_fire_department</i>
                    <span>Trending</span>
                </div>

                <div class="sidebar_category">
                    <i class="material-icons">subscriptions</i>
                    <span>Subscriptions</span>
                </div>
            </div>
            <hr>

            <div class="sidebar_categories">
                <div class="sidebar_category">
                    <i class="material-icons">library_add_check</i>
                    <span>Library</span>
                </div>
                <div class="sidebar_category">
                    <i class="material-icons">history</i>
                    <span>History</span>
                </div>
                <div class="sidebar_category">
                    <i class="material-icons">play_arrow</i>
                    <span>Your Videos</span>
                </div>
                <div class="sidebar_category">
                    <i class="material-icons">watch_later</i>
                    <span>Watch Later</span>
                </div>
                <div class="sidebar_category">
                    <i class="material-icons">thumb_up</i>
                    <span>Liked Videos</span>
                </div>
            </div>
            <hr>
        </div>


        <!-- video section starts  -->
        <div class="videos">
           
            <div class="drop-down-container">
                <h1>Recommended</h1>
                <div class="dropdown-content-background">
                    <div class="dropdown-content">
                        <div class="dropdown-content">
                            <i class="material-icons">videocam</i>
                            <span>Create</span>
                        </div>
                        <div class="dropdown-content">
                            <i class="material-icons">settings</i>
                            <span>Settings</span>
                        </div>
                        <div class="dropdown-content">
                            <i class="material-icons">person-add</i>
                            <span>Switch Acccounts</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="videos_container">
                {% for vid in video %}
                <div class="video">
                    <div class="video_thumbnail">
                        <a href="{% url 'video' vid.id%}"><img src="{{ vid.image.url }}" alt=""></a>
                    </div>
                    <div class="video_details">
                        <div class="author">
                            <img src="{{ vid.user.channel.image.url }}" alt="">
                        </div>
                        <div class="title">
                            <a href="{% url 'video' vid.id%}">
                                <h3>{{ vid.title | truncatechars:35}}</h3>
                            </a>
                            <a href="">{{vid.user.channel.channel_name}} {% if vid.user.channel.verified == True %}<i
                                    class="fas fa-check-circle"></i>{% endif %}</a>
                            <span><small>{{ vid.views }} Views . {{vid.date | timesince }} ago</small></span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>

</body>

</html>