{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
</head>
<body>
    <div class="login-box">
        <div class="img">

        <img src="https://cdn.vox-cdn.com/thumbor/Pkmq1nm3skO0-j693JTMd7RL0Zk=/0x0:2012x1341/1200x800/filters:focal(0x0:2012x1341)/cdn.vox-cdn.com/uploads/chorus_image/image/47070706/google2.0.0.jpg" alt="">
        </div>
        <h1 class="sign-in">Sign In</h1>
        <x1 class="google-account"> Use your google account</x1>
        <input type="text" placeholder="Email or Phone">
        
        <x2><a href="">Forgot email? </a></x2>
            <small class="learn more">Not your computer? use private window to sign in <span>Learn More</span></small>
       <x3> Create Account</x3>
       <button type="submit">Next</button>
    </div>
</body>
</html>