<!-- video_form.html -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/upload.css'%}">
<!-- video_form.html -->
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <!-- Display form field errors -->
  {% if form.errors %}
    <div class="error">
      <ul>
        {% for field in form %}
          {% for error in field.errors %}
            <li>{{ field.label }}: {{ error }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <!-- Display non-field errors -->
  {% if form.non_field_errors %}
    <div class="error">
      <ul>
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <!-- Display form fields -->
  <div>
    <label for="{{ form.title.id_for_label }}">Title:</label>
    {{ form.title }}
    <!-- Add any additional styling or validation related to title -->
  </div>

  <div>
    <label for="{{ form.description.id_for_label }}">Description:</label>
    {{ form.description }}
    <!-- Add any additional styling or validation related to description -->
  </div>

  <div>
    <label for="{{ form.image.id_for_label }}">Image:</label>
    {{ form.image }}
    <!-- Add any additional styling or validation related to image -->
  </div>

  <div>
    <label for="{{ form.video.id_for_label }}">Video:</label>
    {{ form.video }}
    <!-- Add any additional styling or validation related to video -->
  </div>

  <div>
    <label for="{{ form.tags.id_for_label }}">Tags:</label>
    {{ form.tags }}
    <!-- Add any additional styling or validation related to tags -->
  </div>

  <div>
    <label for="{{ form.visibility.id_for_label }}">Visibility:</label>
    {{ form.visibility }}
    <!-- Add any additional styling or validation related to visibility -->
  </div>

  <div>
    <button type="submit"><a href="{% url 'index'%}">Submit</a></button>
  </div>
</form>
