{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube</title>
    <link rel="icon" type="img/png" href="../../static/images/youtube-icon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" integrity="sha384-3B6NwesSXE7YJlcLI9RpRqGf2p/EgVH8BgoKTaUrmKNDkHPStTQ3EyoYjCGXaOTS" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <link rel="stylesheet" href="{% static 'css/video.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

</head>
<body>
    <div class="header">
        <div class="header_left">
            <i id="menu" class="material-icons">menu</i>
            <img src="https://www.xda-developers.com/files/2017/08/After-12-Years-Google-Gives-YouTube-a-New-Logo-1900x700_c.png">
        </div>
        <div class="header_search">
            <form action="">
                <input type="text" placeholder="Search">
                <button><i class="material-icons">search</i> </button>
            </form>
        </div>
        <div class="header_icons">
            <i class="material-icons display-this">search</i>
            <i class="material-icons display-this">videocam</i>
            <i class="material-icons display-this">apps</i>
            <i class="material-icons display-this">notifications</i>
            <i id="drop-down" class="material-icons display-this">account_circle</i>
        </div>
    </div>

    <main class="single-pages">
        <section class="video_items flex">
            <div class="left">
                <div class="left_content">
                    <div class="video-container">
                        <video controls>
                            <source src="{{ video.video.url }}" type="video/mp4" poster="{% static 'images/1.jpg'%}">
                        </video>
                    </div>
                    <div class="tag">
                        <label for="" class="tags">
                            {% for tag in video.tags.all %}
                            #{{tag.name}},
                            {% endfor%}
                        </label>
                        <p>{{video.title}}</p>
                    </div>
                    <div class="view flex2 border_bottom">
                        <div class="view-text">
                            <span>{{video.views}} Views</span>
                        </div>
                        <div class="flex">
                            <div class="icon">
                                <a href=""><i class="fa fa-thumbs-up"></i></a>
                                <label for="">5k</label>
                            </div>
                            <div class="icon">
                                <a href=""><i class="fa fa-thumbs-down"></i></a>
                                <label for="">5k</label>
                            </div>
                            <div class="icon">
                                <a href=""><i class="fa fa-share"></i></a>
                                <label for="">Share</label>
                            </div>
                            <div class="icon">
                                <a href=""><i class="fa fa-scissors"></i></a>
                                <label for="">clip</label>
                            </div>
                            <div class="icon">
                                <a href=""><i class="fa fa-bookmark"></i></a>
                                <label for="">Save</label>
                            </div>
                            <div class="icon">
                                <a href=""><i class="fa fa-ellipsis"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="details flex border_bottom">
                        <div class="img">
                            <img src="{{ video.user.channel.image.url }}" alt="">
                        </div>
                        <div class="heading">
                            <h4>{{video.user.channel.channel_name}}{% if video.user.channel.verified == True %}<small><i class="fas fa-check-circle"></i></small>{% endif %}</h4>
                            <span>{{video.user.channel.subscribers.all.count}} Subscribers</span>
                            <h5>{{video.description}}</h5>
                            <span><i class="fa fa-caret-down"></i> show more</span>
                        </div>
                        <div>
                            <a href="" class="subscribe-btn">Subscribe</a>
                        </div>
                    </div>
                    <hr class="mid-hr">
                    <div class="comment">
                        <div class="comment-heading flex">
                            <h4><b>{{comment.count}} Comments</b></h4>
                            <h4><i class="fa fa-list-ul"></i><label for="">Sort By</label></h4>
                        </div>
                    </div>
                    <div class="details comment_self flex">
                        <div class="img">
                            <img src="https://img.freepik.com/free-icon/user_318-563642.jpg?w=360" alt="">
                        </div>
                        {% if request.user.is_authenticated %}
                        <form style="width:100%" action="" id="comment_form">
                            {% csrf_token %}
                            <div class="heading flex">
                                <input type="hidden" value="{{video.id}}" id="id" name="id">
                            <input type="text" placeholder="Add a comment..." id="comment" name="comment">
                            <button><i class="material-icons">send</i></button>
                        </div>

                        </form>
                        {% else %}
                        <a href="../../admin/login" style="margin-top: 10px;">Login to comment</a>
                        {% endif %}
                        
                    </div>
                    {% for c in comment%}
                    <div class="details_comment">
                        <div class="details flex">
                            <div class="img">
                                <img src="https://img.freepik.com/free-icon/user_318-563642.jpg?w=360" alt="">
                            </div>
                            <div class="heading">
                                <h4><b>{{c.user.username|title}}</b><span>{{c.date|timesince}} ago</span></h4>
                                <p>{{c.comment}}</p>
                                <div class="comment-like flex">
                                    <div class="icon">
                                        <i class="fa fa-thumbs-up"></i>
                                        <label for=""> <small>5</small></label>
                                    </div>
                                    <div class="icon">
                                        <i class="fa fa-thumbs-down"></i>
                                        <label for=""> <small>Dislike</small></label>
                                    </div>
                                    <div class="icon">
                                        <label for=""><a href=""><small>Reply</small></a></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reply">
                        <label for="" class="tags"><i class="fa fa-caret-up"></i>Hide Reply</label>
                        <div class="reply-details flex">
                            <div class="img">
                                <img src="https://img.freepik.com/free-icon/user_318-563642.jpg?w=360" alt="">
                            </div>
                            <div class="text">
                                <h4><label for="">Desphixs</label></h4>
                                <p>Thank you</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="right">
                <div class="right_container"></div>
                <button class="chat">Show Chat Reply</button>
                <div class="tags">
                    <label for="" class="tags-bg">All</label>
                    <label for="" class="tags-bg">Web Design</label>
                    <label for="" class="tags-bg">Frontend</label>
                    <label for="" class="tags-bg">Html</label>
                </div>
                <div class="video_right">
                    {% for vid in videos%}
                    <div class="video_items vide_sidebar flex">
                        <a href="">
                            <img src="{{ vid.image.url }}" alt="">
                            <!-- <img src="{{ vid.channel.image.url }}" alt=""> -->
                        </a>
                        
                        <div class="details">
                            <a href="{% url 'video' vid.id%}">
                                <h3>{{ vid.title | truncatechars:35}}</h3>
                            </a>
                            <a href="">{{vid.user.channel.channel_name}} {% if vid.user.channel.verified == True %}<i
                                    class="fas fa-check-circle"></i>{% endif %}</a>
                            <span><small>{{ vid.views }} Views . {{vid.date | timesince }} ago</small></span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
<script type="text/javascript">
    $(document).on('submit','#comment_form',function(e){
        e.preventDefault()
        // console.log('submitted');
        let _comment = $('#comment').val()
        console.log(_comment);
    })

</script>
