{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'css/loginStyle.css' %}">
</head>
<body>
    <h1>Sign In</h1>
    <form method="post">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Enter your email" required>
        </div>
        
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Enter your password" required>
        </div>

        <button><a href="{% url 'index' %}">Sign In</a> </button>
    </form>
</body>
</html>
