@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;

}
html{
    overflow: hidden;
}
.login-box{
    position: absolute;
    top:15%;
    left:35%;
    width:30%;
    height:70%;
    border: 1px solid #DADCE0;
    
}
.img{
   display: flex;
 justify-content: center;
}
.img img{
     height: 20%;
    width:25%;
}
.login-box h1{
    position: absolute;
    top: 18%;
    left:calc(100%/2 - 40px);
    font-family: Poppins;
    font-size: 25px;
    font-weight: 300;
}

.login-box x1{
    position: absolute;
    top: 27%;
    left:calc(100%/3 - 40px);
    font-family: Poppins;
    font-size:calc(1vw + 8px);
    /* font-weight: 300; */
}
.login-box x2{
    position: absolute;
    top: 52%;
    left:7%;
    color: rgb(0, 153, 255);
    font-family: Poppins;
    font-size: 15px;
    /* font-weight: ; */
}
.login-box x3{
    position: absolute;
    top: 81%;
    left:7%;
    color: rgb(0, 153, 255);
    font-family: Poppins;
    font-size: 15px;
    font-weight: bold;
}
.login-box small{
    position: absolute;
    top: 65%;
    left:7%;
    color:#444444;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
}
.login-box span{
    color: rgb(0, 153, 255);
    font-family: Poppins;
    font-weight: bold;
}
.login-box input{
    position: absolute;
    top: 40%;
    left:7%;
    width:80%;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    background: none;
    color: inherit;
    border: 1px solid #DADCE0;
    cursor: pointer;
    outline: inherit;
}
input::placeholder{
    position: absolute;
    top: 30%;
    left:3%;
    font-family: Poppins;
    font-size: 15px;
}
.login-box button{
    position: absolute;
    top: 80%;
    left:74%;
    font-family: Poppins;
    background-color: rgb(0, 153, 255);
    height:8%;
    width:20%;
    color: white;
    outline: none;
    border-radius: 10px;
    transition: 0.5s;
}

.login-box button:hover{
 background-color: rgb(113, 194, 231);
 
}