/* video_form.css */

/* Styles for form container */
.form-container {
  max-width: 500px;
  margin: 0 auto;
}

/* Styles for form labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Styles for form inputs */
input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

input[type="file"] {
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Styles for form submit button */
button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* Styles for error messages */
.error {
  color: red;
  margin-bottom: 10px;
}

.error ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.error li {
  margin-bottom: 5px;
}
